Part 1: Data Processing and Analysis (90 points)
1.	Load the Dataset (10 points)
o	Write a function:
def load_data(filepath: str) -> pd.DataFrame:
	Input:
	filepath: The file path to a CSV or Excel dataset.
	Output:
	A pandas DataFrame containing the loaded data.
	Note: This function must be implemented in a Python file (.py).
o	Use libraries such as numpy or pandas to load the data and return it as a pandas DataFrame

In [2]:
import pandas as pd
from pandas.core.interchange.dataframe_protocol import DataFrame

In [33]:
def load_data(filepath: str) -> pd.DataFrame:
    return pd.read_excel(filepath)

data = load_data(filepath = 'knesset_25.xlsx')
data

,city_name,ballot_code,party_avoda,party_shahar_kalkali_hadash,party_bayit_yehudi,party_agudat_israel,party_daled,party_vavmem,party_shahar_koach_hevrati,party_kama,...,party_tze'irim_bo'arim,party_manhigut_hevratit,party_kol_hasviva_vehachai,party_halev_hayehudi,party_seder_chadash,party_kol,party_beometz_bishvilech,party_kavod_umasoret,party_shas,party_daat_tov_vera
0,אבו גווייעד שבט,3.1,0,0,0,0,4,21,0,0,...,0,0,0,0,0,0,0,0,0,2
1,אבו גווייעד שבט,3.2,1,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,1
2,אבו גווייעד שבט,3.3,0,0,0,0,0,12,0,0,...,0,0,0,0,0,0,0,0,2,0
3,אבו גווייעד שבט,3.4,0,0,0,0,0,3,0,0,...,1,0,0,0,0,0,0,0,2,0
4,אבו גוש,1.1,1,0,0,0,171,43,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12540,תקוע,3.0,4,3,66,1,0,1,0,0,...,1,0,0,0,0,0,6,0,12,0
12541,תקוע,4.0,6,3,66,3,0,0,0,0,...,0,0,0,1,0,0,1,0,3,0
12542,תראבין אצאנע שבט,1.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12543,תראבין אצאנעישוב,1.0,1,0,0,0,6,1,0,0,...,0,0,0,0,0,0,1,0,1,0
12544,תרום,1.0,5,4,17,12,0,0,0,0,...,1,0,0,0,0,0,4,0,49,0

2.	Group and Aggregate Data (20 points)
o	Write a function:
def group_and_aggregate_data(df: pd.DataFrame, group_by_column: str, agg_func) -> pd.DataFrame:
	Input:
	df: A pandas DataFrame containing the dataset.
	group_by_column: The column to group data by (e.g., 'city name').
	agg_func: The aggregation function to apply to each group (e.g., mean, sum, or count).
	Output:
	A pandas DataFrame with aggregated results.
	Note: This function must be implemented in a Python file (.py).
	Demonstrate this function in a Jupyter Notebook by:
	Loading the election dataset.
	Aggregating it by city name.
	Displaying the total number of votes each party received in each city.

In [32]:
def group_and_aggregate_data(df: pd.DataFrame, group_by_column: str, agg_func) -> pd.DataFrame:
    return df.drop(columns = 'ballot_code').groupby(group_by_column).agg(agg_func)

aggArr = group_and_aggregate_data(data,'city_name',["mean", "sum", "count"])
aggArr

                 party_avoda           party_shahar_kalkali_hadash            \
                        mean sum count                        mean sum count
city_name
אבו גווייעד שבט     0.250000   1     4                    0.000000   0     4
אבו גוש             1.555556  14     9                    0.111111   1     9
אבו סנאן            1.789474  34    19                    0.000000   0    19
אבו עבדון שבט       0.000000   0     1                    0.000000   0     1
אבו קורינאת שבט     1.000000   5     5                    0.000000   0     5
...                      ...  ..   ...                         ...  ..   ...
תקומה               3.000000   3     1                    2.000000   2     1
תקוע                6.250000  25     4                    4.500000  18     4
תראבין אצאנע שבט    0.000000   0     1                    0.000000   0     1
תראבין אצאנעישוב    1.000000   1     1                    0.000000   0     1
תרום                5.000000   5     1                    4.000000   4     1

                 party_bayit_yehudi            party_agudat_israel  ...  \
                               mean  sum count                mean  ...
city_name                                                           ...
אבו גווייעד שבט            0.000000    0     4            0.000000  ...
אבו גוש                    0.111111    1     9            0.333333  ...
אבו סנאן                   0.157895    3    19            0.000000  ...
אבו עבדון שבט              0.000000    0     1            0.000000  ...
אבו קורינאת שבט            0.200000    1     5            0.000000  ...
...                             ...  ...   ...                 ...  ...
תקומה                     42.000000   42     1            1.000000  ...
תקוע                      66.500000  266     4            3.250000  ...
תראבין אצאנע שבט           0.000000    0     1            0.000000  ...
תראבין אצאנעישוב           0.000000    0     1            0.000000  ...
תרום                      17.000000   17     1           12.000000  ...

                 party_beometz_bishvilech party_kavod_umasoret            \
                                    count                 mean sum count
city_name
אבו גווייעד שבט                         4                  0.0   0     4
אבו גוש                                 9                  0.0   0     9
אבו סנאן                               19                  0.0   0    19
אבו עבדון שבט                           1                  0.0   0     1
אבו קורינאת שבט                         5                  0.0   0     5
...                                   ...                  ...  ..   ...
תקומה                                   1                  0.0   0     1
תקוע                                    4                  0.0   0     4
תראבין אצאנע שבט                        1                  0.0   0     1
תראבין אצאנעישוב                        1                  0.0   0     1
תרום                                    1                  0.0   0     1

                 party_shas           party_daat_tov_vera
                       mean sum count                mean sum count
city_name
אבו גווייעד שבט    1.000000   4     4            0.750000   3     4
אבו גוש            0.444444   4     9            0.000000   0     9
אבו סנאן           0.631579  12    19            0.052632   1    19
אבו עבדון שבט      0.000000   0     1            0.000000   0     1
אבו קורינאת שבט    0.600000   3     5            0.000000   0     5
...                     ...  ..   ...                 ...  ..   ...
תקומה             13.000000  13     1            0.000000   0     1
תקוע               6.750000  27     4            0.000000   0     4
תראבין אצאנע שבט   0.000000   0     1            0.000000   0     1
תראבין אצאנעישוב   1.000000   1     1            0.000000   0     1
תרום              49.000000  49     1            0.000000   0     1

[1216 rows x 120 columns]

3.	Remove Sparse Columns (10 points)
o	Write a function:
def remove_sparse_columns(df: pd.DataFrame, threshold: int) -> pd.DataFrame:
	Input:
	df: A pandas DataFrame.
	threshold: The minimum total sum for a column to be retained in the DataFrame.
	Output:
	A pandas DataFrame with sparse columns removed.
	Note: This function must be implemented in a Python file (.py).
o	Demonstrate this function in a Jupyter Notebook by removing columns representing parties that received fewer votes than a specified threshold.

In [38]:
def remove_sparse_columns(df: pd.DataFrame, threshold: int) -> pd.DataFrame:
    sumdf = data.drop(columns = ['ballot_code',"city_name"]).sum()
    print(sumdf.sum())

In [50]:
# Select only numeric columns for threshold comparison
numeric_columns = data.select_dtypes(include=['number'])

# Retain columns with sum >= threshold
filtered_columns = numeric_columns.loc[:, numeric_columns.sum() >= 40000]

non_numeric_columns = data.select_dtypes(exclude=['number'])

temp = pd.concat([non_numeric_columns, filtered_columns], axis=1)
temp

,city_name,ballot_code,party_avoda,party_bayit_yehudi,party_agudat_israel,party_daled,party_vavmem,party_tet,party_kahol_lavan,party_israel_beitenu,party_likud,party_meretz,party_raam,party_yesh_atid,party_shas
0,אבו גווייעד שבט,3.1,0,0,0,4,21,0,1,0,9,0,132,0,0
1,אבו גווייעד שבט,3.2,1,0,0,0,2,0,0,0,1,0,90,0,0
2,אבו גווייעד שבט,3.3,0,0,0,0,12,0,3,0,0,0,150,1,2
3,אבו גווייעד שבט,3.4,0,0,0,0,3,0,1,0,2,0,96,0,2
4,אבו גוש,1.1,1,0,0,171,43,1,0,0,11,10,110,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12540,תקוע,3.0,4,66,1,0,1,155,19,1,83,1,0,9,12
12541,תקוע,4.0,6,66,3,0,0,206,19,15,79,2,1,16,3
12542,תראבין אצאנע שבט,1.0,0,0,0,0,1,0,0,0,28,1,42,0,0
12543,תראבין אצאנעישוב,1.0,1,0,0,6,1,0,0,0,143,2,87,1,1
12544,תרום,1.0,5,17,12,0,0,130,46,0,201,1,1,21,49